
<div class="fh5co-loader"></div>

<nav class="fh5co-nav" role="navigation">
    <div class="top-menu">
        <div class="container">
            <div class="row">
                <div class="col-xs-2">
                    <div id="fh5co-logo"><a href="/">ismailtosun<span>.</span>net</a></div>
                </div>
                <div class="col-xs-10 text-right menu-1">
                    <ul>
                        <li class={{navActive.home}}><a href="/">{{ data.navbar_home }}</a></li>
                       <!-- <li><a href="portfolio.html">Portfolio</a></li> -->
                        <li class="{{navActive.apps}}">
                            <a href="/apps">{{ data.navbar_apps }}</a>
                            <ul class="dropdown">
                                <li><a href="#">....</a></li>
                                <li><a href="#">.....</a></li>
                                <li><a href="#">......</a></li>
                                <li><a href="#">.......</a></li>
                            </ul>
                        </li>
                        <li class={{navActive.about}}><a href="/about">{{ data.navbar_about }}</a></li>
                        <li class={{navActive.contact}}><a href="/contact">{{ data.navbar_contact }}</a></li>
                        <li class="btn-cta"><a href="#"><span>{{ data.navbar_login }}</span></a></li>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>
</nav>
