{% extends "layout.html" %}
	{% block head %}
	  
	
	<meta charset="utf-8">
	<title>ismailtosun.net</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="web developer computer engineer backend developer software developer" />
	<meta name="author" content="ismailtosun" />



  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	
	{% endblock head %}
	
	
		{% block body %}
		  
		
	<div class="fh5co-loader"></div>
	
	<div id="page">
	

	<div id="fh5co-about">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Benim Hakkımda</h2>
					<p>Donanım ve yazılım alanında kendini geliştirmeye çalışan hevesli bir yazılım geliştiricisiyim</p>
				</div>
			</div>
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center heading-section">
					<h3>Eğitimim</h3>
					<p>Bilgisayar Mühendisliği eğitimi aldım, bunun yanı sıra kurslar alarak ve kişisel (nispeten küçük ve deneysel) projelerle kendimi geliştirmeye çalışıyorum.<br>
				        Daha detaylı kariyer bilgisi için <strong><a href="http://www.youtube.com">buraya</a></strong> tıklayın</p>
				</div>
			</div>

			<div class="row row-bottom-padded-md">
				<div class="col-md-12 text-center animate-box">
					<p><img src="static/images/handsome.jpg" alt="some handome guy" class=" center" width=500" 
						height="700"></p>
				</div>
			</div>
		</div>
	</div>

	

					

				


				
			</div>
		</div>
	</div>

	
	
	


	{% endblock body %}

