{% extends "layout.html" %}
{% block head %}
	
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>ismailtosun.net</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="web developer computer engineer backend developer software developer" />
	<meta name="author" content="ismailtosun" />

	

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />
    {% endblock head %}

    {% block body %}
    <div class="fh5co-loader"></div>
<div id="page">



		
		<div class="container">
			<div class="row animate-box">

				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading" data-animate-effect="fadeIn">
					<h2>Çalışmalarım</h2>
					<p>Bu sayfada yaptığım, yapmaya devam ettiğim yada yapmaktan vazgeçtiğim projeler hakkında kısa bilgiler bulabilirsiniz.</p>
							
				</div>
			</div>
		</div>
	




{% for app in appsData  %}
<div class="fh5co-loader"></div>
<div id="fh5co-slider" style="background: {{app.app_common.app_color}};" >
	<div class="container">
		<div class="row">
			<div class="col-md-6 animate-box-opak">
				<div class="heading">
					<h2><a href="{{app.app_common.app_link}}" style="color:{{app.app_common.app_title_color}}">{{app.app_common.app_title}}</a></h2>
					<p>{{app.app_common.app_content}}</p>
				</div>
			</div>
			<div class="col-md-6 col-md-push-1 animate-box-opak">
				<aside id="fh5co-hero">
				<div class="flexslider">
					<ul class="slides">

						{% for sub in app["app_sub"] %}
						  
						
					   <li style="background-image: url(static/images/{{sub.app_image}});">
						   <div class="overlay-gradient"></div>
						   <div class="container-fluid">
							   <div class="row">
								   <div class="col-md-12 col-md-offset-0 col-md-pull-10 slider-text slider-text-bg">
									   <div class="slider-text-inner">
										   <div class="desc" style="background-color: {{sub.app_background_color}}; color: {{sub.app_color}}">
												<h2>{{sub.app_title}}</h2>
												<p>{{sub.app_content}} </p>
										   </div>
									   </div>
								   </div>
							   </div>
						   </div>
					   </li>
					   {% endfor %}
					  	   	
					  </ul>
				  </div>
			</aside>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row animate-box">

		<div class="col-md-8 col-md-offset-2 text-center fh5co-heading" data-animate-effect="fadeIn">
			<h2>Çalışmalarım</h2>
			<p>Bu sayfada yaptığım, yapmaya devam ettiğim yada yapmaktan vazgeçtiğim projeler hakkında kısa bilgiler bulabilirsiniz.</p>
					
		</div>
	</div>
</div>
  
{% endfor %}

	
	
    {% endblock body %}